<!DOCTYPE html>
<html ng-app="MyAppModule">
  <head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app/app.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  </head>

  <body ng-controller="MainController">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://equivalent.github.io/angular-app-example/">Angular Example App</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="https://github.com/equivalent/angular-app-example">Source Code</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>{{heading}}</h1>

      <div class="row">
        <section class="col-md-5">
          <h2>Categories</h2>

          <ul>
            <li><a href="#" ng-click="setCurrentCategory(null)">All</a></li>
            <li ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
              <a href="#" ng-click="setCurrentCategory(category)">{{category.name}}</a>
            </li>
          </ul>
        </div>
      </section>

      <div class="row">
        <section class="col-md-5">
          <h2>Bookmarks</h2>

          <ul class="list-unstyled">
            <li ng-class="{active:isSelectedBookmark(bookmark)}" ng-repeat="bookmark in bookmarks | filter:{category:currentCategory.name}">
              <button type="button" ng-click="setEditedBookmark(bookmark);startEditing();"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" class="close">&times;</button>
              <a href="{{bookmark.url}}">{{bookmark.name}}</a>
            </li>
          </ul>

          <!--Creating section-->
          <div ng-if="shouldShowCreating()">
            <button type="button" ng-click="startCreating()" class="btn btn-link">
              <i class="glyphicon glyphicon-plus"></i>
              Create Bookmark
            </button>

            <form ng-show="isCreating" ng-submit="createBookmark(newBookmark)" role="form" novalidate >
              <div class="form-group">
                <label for="newBookmarkName">Name</label>
                <input type="text" name="name" id="newBookmarkName" ng-model="newBookmark.name" placeholder="Name the Bookmark" class="form-control"/>
              </div>

              <div class="form-group">
                <label for="newBookmarkUrl" >Url</label>
                <input type="text" name="url" id="newBookmarkUrl" ng-model="newBookmark.url" placeholder="http://www.google.com" class="form-control"/>
              </div>

              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-warning pull-right" ng-click="cancelCreating()">Cancel</button>
            </form>
          </div>

          <!--Editing section-->
          <div ng-if="shouldShowEditing()">
            <h4>Edit {{editedBookmark.name}}<h4>

            <form ng-submit="updateBookmark(editedBookmark)" role="form" novalidate >
              <div class="form-group">
                <label for="editedBookmarkName">Name</label>
                <input type="text" name="name" id="editedBookmarkName" ng-model="editedBookmark.name" placeholder="Name the Bookmark" class="form-control"/>
              </div>

              <div class="form-group">
                <label for="editedBookmarkUrl" >Url</label>
                <input type="text" name="url" id="editedBookmarkUrl" ng-model="editedBookmark.url" placeholder="http://www.google.com" class="form-control"/>
              </div>

              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-warning pull-right" ng-click="cancelEditing()">Cancel</button>
            </form>
        </section>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="app/my-app-module.js"></script>
  </body>
</html>
